<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Shrikhand" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header class="head">
      <div>All Songs</div>
    </header>
    <section class="middle">
      <% @songs.each do |song| %>
      <article class="song-box">
        <img class="photo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/14-06-08_RiP_Slayer_Tom_Araya_2.JPG/220px-14-06-08_RiP_Slayer_Tom_Araya_2.JPG" alt="araya">
        <div class="space"><%= song.title %></div>
        <div class="space">Plays: <%= song.play_count %></div>
      </article>
      <% end %>
    </section>
  </body>
</html>
